Package: mx-sound-theme-borealis
Version: 16.4.1mx15
Architecture: all
Maintainer: anticapitalista <antiX@operamail.com>
Installed-Size: 2927
Provides: mx-sound-theme
Section: system
Priority: optional
Homepage: http://github.com/mx-linux
Description: Sound theme for mx-system-sounds
